{% extends "minerals/layout.html" %}
{% load mineral_extras %}
{% load static %}
{% load static from staticfiles %}


{% block content %}
  <div class="grid-100 mineral__container">
    <h1 class="mineral__name">{{ mineral.name }}</h1>
    <div class="mineral__image-bg">
      <img class="mineral__image" src="{% get_static_prefix %}images/{{ mineral.name}}.jpg">
      <p class="mineral__caption">{{ mineral.image_caption }}</p>
    </div>
    <div class="mineral__table-container">
      <table class="mineral__table">
        {% for field in fields %}
          {% if mineral|get_attr:field %}
            <tr>
              <td class="mineral__category">{{ mineral|verbose_name:field|title }}</td>
              <td>{{ mineral|get_attr:field|safe }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}